# Untrack everything but the essential files
*
!.gitignore
!README.md
!LICENSE

# Track docker-compose for specific services
!*/docker-compose.yml
!Budibase
!n8n
!Nginx Proxy Manager
!Pinchflat
!Postgres
!Traefik
!Audiobookshelf
!Wallabag
!Storyteller
!Sabnzbd

# Track specific files for Traefik
!Traefik/config
!Traefik/config/traefik.yml
!Traefik/config/dynamic.yml

# Track specific files for Sabnzbd
!Sabnzbd/Additional\ steps.md