# Untrack everything but the essential files
*
!.gitignore
!README.md
!LICENSE

# Track docker-compose for specific services
!*/docker-compose.yml
!Airflow
!Audiobookshelf
!Budibase
!n8n
!Nginx Proxy Manager
!Pinchflat
!Postgres
!Sabnzbd
!Storyteller
!Traefik
!Wallabag

# Track specific files for Airflow
!Airflow/Dockerfile
!Airflow/scripts
!Airflow/scripts/init.sh

# Track specific files for Sabnzbd
!Sabnzbd/Additional\ steps.md

# Track specific files for Traefik
!Traefik/config
!Traefik/config/traefik.yml
!Traefik/config/dynamic.yml